.logo{
    display: flex;
}
.barre-de-navigation{
    display: flex;
    background-color: #d35649;
}
.navlink{
    margin: auto;
    padding: 2%;
    padding-left: 65%;
    font-size: 20px;
}
.icone{
    filter: invert(100%);
}
.section1{
    background-color: #eee;
}
.text{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
}
.filter{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.photo{
    display: flex;
}
.details{
    background-color: black;
}
.minitableau{
    display: flex;
    padding-top: 3%;
}
.localisation{
    filter: invert(100%);
}
.informations{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}
.subscribe{
    padding-left: 8%;
    text-align: center;
    font-size: small;
}
.contact{
    padding-left: 12%;
    text-align: center;
    font-size: small;
}
.about{
    padding-left: 15%;
    text-align: center;
    font-size: small;
}
.pied-de-page{
    display: flex;
    background-color: #1f1f1f;
}
.icones{
    justify-content: space-between;
    padding-right: 3%;
}
.text{
    float: inline-end;
    padding-left: 80%;
    font-size: x-small;
}